<!DOCTYPE html>
<html>
<head>
    <title>Habit Tracker</title>
</head>
<body>

<h1>Habit Tracker</h1>

<a href="index.php?page=form">Добавить</a> |
<a href="index.php?page=list">Список</a>

<hr>

{% block content %}{% endblock %}

</body>
</html>